:root{
    font-family:system-ui,Arial,sans-serif;
}

body{
    background-color: #fff;
    color: #000;
    font-size: 1em;
    margin: 0;
}

.navbar {
    background: #000;
    color: #fff;
    padding: .45rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar form button {
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    margin: 0;
    font-size: .95em;
}

.introduction{
    text-align: center;
}

.introduction h1{
    font-size: 3.5em;
}

.qr-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    justify-content: start;
    margin: 20px;
}

.search-container{
    display: flex;
}

input[type="text"] {
    margin-left: 20px;
    padding: 5px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 0.85em;
}


.qr-card {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    font-size: 1em;
}

.qr-card-footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.qr-card strong {
    display: block;
    margin-bottom: 6px;
    font-size: 1.3em;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.popup-footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
  
.chiudi {
    float: right;
    font-size: 24px;
    cursor: pointer;
}