:root{
    font-family:system-ui,Arial,sans-serif;
}

body{
    background-color: #fff;
    color: #000;
    font-size: 1em;
    margin: 0;
}

.navbar {
    background: #000;
    color: #fff;
    padding: .45rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.welcome {
    font-size: 0.9rem;
    opacity: .9;
    margin: 0;
}

.navbar button {
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    margin: 0;
    font-size: .95em;
    cursor: pointer;
}

.introduction{
    text-align: center;
    max-width: 1000px;
    margin: 0.1rem auto;
    padding: 0.4rem;
}

.introduction h1{
    font-size: 3.5em;
}

.message {
    background: #d8d8d8;
    border: 1px solid #636363;
    font-weight: 400;
    padding: .5rem .75rem;
    border-radius: 13px;
    font-size: 1.1rem;
}

.error {
    background: #ff9191;
    border: 1px solid #ff3434;
    padding: .5rem;
    border-radius: 13px;
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
}

.qr-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 16px;
    justify-content: start;
    margin: 1.2rem 4.4rem;
}

.search-container{
    display: flex;
}

.search {
    margin-left: 4.4rem;
    padding: 5px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 0.85em;
}


.qr-card {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    max-width: 280px;
}

.qr-card-footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.qr-card strong {
    display: block;
    margin-bottom: 6px;
    font-size: 1.3em;
}

.qr {
    width: 130px;
    height: 130px;
}

.not-found{
    margin-left: 4.4rem;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.popup-footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.print {
    float: left;
    font-size: 24px;
    cursor: pointer;
}
  
.chiudi {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.Form {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

.Form label {
    display: block;
    margin-top: 0.4rem;
}

.Form input {
    width: 100%;
    padding: .5rem;
    margin: .25rem 0 .5rem;
    border: 1px solid #ccc;
    border-radius: 13px
}

.Form input[type="checkbox"] {
    position: relative;
    display: block;
    margin: 0;
    width: 21px;
    height: 21px;
    left: 50px;
    top: -18.5px;
}

.Form button {
    margin-top: .8rem;
    padding: .4rem 1.3rem;
    font-size: 1.1rem;
    border-radius: 13px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.hybrid-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

/* Nascondi l'input reale */
.Form input[type="file"] {
    display: none;
}

.Form small{
    color: #636363;
}

/* Stile del "bottone" personalizzato */
.custom-file-upload {
    max-width: 75px;
    margin-top: .8rem;
    padding: .5rem 1.3rem;
    font-size: 1.1rem;
    border-radius: 13px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.file-name {
    margin-left: 10px;
    font-style: italic;
}
