<!DOCTYPE html>
<html lang="it">
<head>
  {{> _head }}
</head>
<body>
  {{> _nav }}
  <main class="introduction">
    {{#if msg}}<p class="message">{{msg}}</p>{{/if}}
    <h1>404 Page not found</h1>
    <p><a class="button" href="/">Return to Home</a></p>
  </main>
</body>
</html>