<nav class="navbar">
  <ul class="nav-left">
    <li><a href="/">Home</a></li>
    <li><a href="#">Generate QR</a></li>
    {{#if currentUser}}
      <li><a href="#">Your QRs</a></li>
    {{/if}}
  </ul>
  <ul class="nav-right">
    {{#if currentUser}}
      <li><p class="welcome">welcome {{currentUser.username}}</p></li>
      <li>
        <form action="#" method="post" style="display:inline;">
          <button type="submit">Logout</button>
        </form>
      </li>
    {{else}}
      <li><a href="#">Login</a></li>
    {{/if}}
  </ul>
</nav>