<nav class="navbar">
  <ul class="nav-left">
    <li><a href="/">Home</a></li>
    <li><a href="/generate_QR">Generate QR</a></li>
    {{#if currentUser}}
      <li><a href="/your_QRs">Your QRs</a></li>
    {{/if}}
  </ul>
  <ul class="nav-right">
    {{#if currentUser}}
      <li><p class="welcome">welcome {{currentUser.username}}</p></li>
      <li>
          <button onclick="Confirm()">Logout</button>
      </li>
    {{else}}
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>

<script>
  function Confirm(){
    if(confirm("Are u sure u want to log out") == true){
      return fetch("logout", { method: "post"})
      .then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        }
      })
    }
  }
</script>